# TestResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**status** | [**models::JudgeStatus**](JudgeStatus.md) |  | 
**text** | Option<**String**> | 追加情報 | [optional]
**score** | **f64** | スコア | 
**exec_time** | **f64** | 実行時間 | 
**memory_size** | **f64** | メモリ使用量(byte) | 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


