name: _cargo-fmt

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-format:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Check formatting
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        cargo fmt --all
        if [ -n "$(git status --porcelain)" ]; then
          git checkout -B $GITHUB_HEAD_REF
          git add .
          git commit -m "github-actions[bot]: cargo fmt"
          git push origin $GITHUB_HEAD_REF
        fi
