name: Build check(python)

on:
  workflow_call:

jobs:
  install-uv:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Build traopy-util
        run: |
          uv build --package traopy_util --verbose
#      - name: Install libgraphviz-dev
#        run: |
#          sudo apt-get update
#          sudo apt-get install -y libgraphviz-dev