name: Build check(python)

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build-traopy-util:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Build traopy-util
        run: |
          uv build --package traopy_util --verbose
  build-traopy-builder:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Build traopy-builder
        run: |
          uv build --package traopy_builder --verbose
  build-traopy-visualize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install libgraphviz-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libgraphviz-dev
      - name: Build traopy-visualize
        run: |
          uv build --package traopy_visualize --verbose