name: CI (develop)

permissions:
  contents: read

on:
    push:
      branches: [ "develop" ]
    pull_request:
      branches: [ "develop" ]  

jobs:

  cargo-build:
    uses: ./.github/workflows/_rust-build-check.yml
  cargo-fmt:
    uses: ./.github/workflows/_cargo-fmt.yml
