name: CI (develop)

on:
    push:
      branches: [ "develop" ]
    pull_request:
      branches: [ "develop" ]  

jobs:

  test-judge-control-app:
    uses: ./.github/workflows/_test-judge-control-app.yml
    