name: CI (develop)

permissions:
  contents: read

on:
    push:
      branches: [ "develop" ]
    pull_request:
      branches: [ "develop" ]  

jobs:

  test-rust-base:
    uses: ./.github/workflows/_rust-build-check.yml
