name: Label Checker
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled

jobs:

  check_labels:
    name: Check labels
    runs-on: ubuntu-latest
    steps:
      - uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          any_of: enhancement,bug,ci/test,documentation,duplicate,good first issue,help wanted,invalid,question,wontfix,outdated,refactor
          repo_token: ${{ secrets.GITHUB_TOKEN }}
