name: Build check(python)

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install rye
        run: curl -sSf https://rye.astral.sh/get | RYE_VERSION="0.43.0" RYE_INSTALL_OPTION="--yes" bash

      - name: Install libgraphviz-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libgraphviz-dev
      - name: Build check
        run: |
          source $HOME/.rye/env
          rye sync
          source .venv/bin/activate
