name: Build check(python)

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"

      - name: Install rye
        run: curl -sSf https://rye.astral.sh/get | bash

      - name: Build check
        run: |
          source $HOME/.rye/env
          rye sync
          source .venv/bin/activate
