name: CI (release)

on:
    push:
      branches:
        - release
        - develop
    pull_request:
      branches:
        - release

jobs:
  develop-ci:
    uses: ./.github/workflows/develop.yml
