name: CI (release)

permissions:
  contents: read

on:
    push:
      branches:
        - release
        - develop
        - dev-v1
    pull_request:
      branches:
        - release

jobs:
  develop-ci:
    uses: ./.github/workflows/develop.yml
