name: CI (release)

on:
    push:
      branches:
        - release
        - develop
    pull_request:
      branches:
        - release

jobs:

  test-judge-control-app:
    uses: ./.github/workflows/_test-judge-control-app-release.yml
    